<h1 class="title">コメント編集</h1>
<div class="form">
  <%= form_for @comment,:url => {:action => :update} do |f| %>
    <div class="form-group row" id="star">
      <%= f.label :rate,'評価 ', class: "rate-font" %>
      <%= f.hidden_field :rate, id: :review_star %>
    </div>
  <script>
    $('#star').raty({
      size     : 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      scoreName: 'comment[rate]',
      half: true,
    });
  </script>  

    <div class=field>
    <%= f.text_area :comment, rows:'5', class: "input" %><br>
    </div>
      <%= f.submit '更新する' %><br>
  <% end %>
</div>
<%= link_to "戻る", word_path(@comment.word) %>