<h1 class="title">プロフィール編集</h1>
<div class="form">
  <%= form_for(@user) do |f| %>
      <p class="form__label">Name</p>
      <%= f.text_field :name, class: "input" %>
      <%= attachment_image_tag @user, :image, :fill, 60, 60 %>
      <p class="form__label">ProfileImage</p>
      <%= f.attachment_field :image, placeholder: "プロフィール画像", class: "user-edit-form", fallback: "no_image.jpg" %>    
    
      <p class="form__label">Introduction</p>
      <%= f.text_area :introduction, class: "input" %><br>
    
    <div class=actions>
      <%= f.submit 'Update User',class: "btn" %><br>
    </div>
  <% end %>
</div>