<% if @user == current_user %>
  <h1 class="title">マイページ</h1>
<% else %>
  <h1 class="title">ユーザー情報</h1>
<% end %>

<div class="content">
  <h2 class="content__title">User info</h2>
  <table class="content__table, content__table-box">
      <tr class="content__table-pic"> 
      <td colspan="2">
        <%= attachment_image_tag @user, :image, format: 'jpeg', fallback: "no_image.jpg", size: "100x100", class: "pic" %>
        </td>
      </tr>
      <tr class="content__table-row">
        <th class="content__table-head">name</th>
        <td class="content__table-info"><%= @user.name %></td>
      </tr>
      <tr class="content__table-row">
        <th class="content__table-head">introduction</th>
        <td class="content__table-info"><%= @user.introduction %></td>
      </tr>
      <% if @user == current_user %>
      <tr class="content__table-row"> 
        <td><%= link_to'プロフィール編集',edit_user_path(@user.id),class: "up_btn" %></td>
      </tr>
      <% end %>
  </table>
</div>

<div class="content">
  <h2 class="content__title">投稿作品</h2>
  <% @words.each do |word| %>
    <table class="content__table">
      <tr class="content__table-row">
        <td colspan="2" class="content__table-word"><%= link_to word.word , word_path(word.id),class: "link" %></td>
      </tr>
      <tr class="content__table-row">
        <td class="content__table-tag">タグ：<%= render 'words/tag_list', tag_list: word.tag_list %></td>
      
        <td class="content__table-text right">コメント<%= word.comments.count %>件
          <% if word.user == current_user %>
            <%= link_to'投稿作品編集',edit_word_path(word.id),class: "up_btn"  %>
            <%= link_to '投稿作品削除',word_path(word), method: :delete,data: {confirm:'削除してもよろしいですか？'},class: "d_btn" %>
          <% end %>
        </td>
        </td>
      </tr>
    </table>
  <% end %>
  <%= paginate @words %>
</div>
 