
  <% if params[:tag_name] %>
    <h1 class="title">タグ検索結果一覧</h1>
  <% else %>
    <h1 class="title">新作一覧</h1>
  <% end %>
  
  <div class="content">
    <% @words.each do |word| %>
      <table class= "content__table">
        <tr class="content__table-row">
          <td colspan="3" class="content__table-word">
            <div class="content__table-created_at">
              <%= word.created_at.strftime("%Y-%m-%d %H:%M:%S") %><br>
              <%= link_to word.word , word_path(word.id),class: "link" %><br>
              <div class="content__table-user">
                作者：<%= link_to word.user.name, user_path(word.user.id),class: "link" %>
            </div>
          </td>
        </tr>
        <tr class="content__table-row">
          <td class="content__table-tag">
            タグ：<%= render 'words/tag_list', tag_list: word.tag_list,class: "tag" %>
          </td>
          <td class="content__table-count right" >
            コメント<%= word.comments.count %>件
            <span align="right" class="favorites_buttons_<%= word.id %>">
              <%= render partial: 'favorites/favorite', locals: { word: word} %>
            </span>
          </td>
        </tr>
      </table>
    <% end %>
      <%= paginate @words %>
  </div>