<div class="col-xs-5">
  <% if params[:tag_name] %>
    <h1>タグ検索結果一覧</h1>
  <% else %>
    <h1>新作一覧</h1>
  <% end %>
    <% @words.each do |word| %>
      <table class= "table">
        <tr>
          <td><%= link_to word.word , word_path(word.id) %></td>
        </tr>
        <tr>
          <td><%= render 'words/tag_list', tag_list: word.tag_list,class: "btn-sm btn-info" %></td>
        </tr>
        <tr>
          <td><%= word.user.name %></td>
          <td>
          <div class="favorites_buttons_<%= word.id %>">
            <%= render partial: 'favorites/favorite', locals: { word: word} %>
          </div>
        </td>
          <td>コメント<%= word.comments.count %>件</td>
        </tr>
      </table>
      <% end %>
</div>