
<h1 class="title">作品詳細</h1>
<div class="content">
  <table class="content__table">
    <tr class="content__table-row">
    </tr>
    <tr class="content__table-row">
      <td colspan="2"  class="content__table-word">
        <%= @word.word %>
        <br>
        <div class="content__table-user">
          作者：<%= link_to @word.user.name, user_path(@word.user.id),class: "link" %>
        </div>
      </td>
    </tr>
    <tr class="content__table-row">
      <td class="content__table-tag">タグ：<%= render 'words/tag_list', tag_list: @word.tag_list %></td>
     
   
    <td>
      <div class="content__table-fav, favorites_buttons_<%= @word.id %>">
      <%= render partial: 'favorites/favorite', locals: { word: @word} %>
      </div>
    </td>
    </tr>
  </table>
</div>

<div class="comment">
  <h2>コメント一覧</h2>
  <table class="comment__table">
  <% @word.comments.each do |comment| %>  
    <tr class="comment__table-row">  
      <td class="comment__table-pic">
        <%= attachment_image_tag(comment.user, :image, :fill, 70, 70, fallback: "no_image.jpg") %>
        <p class="comment__table-name"><%= link_to comment.user.name, user_path(comment.user.id),class: "user_link" %></p>
      </td>
      <td class="comment__table-rate">
        評価：<%= comment.rate %>点
      </td>
      <td class="comment__table-comment"><%= comment.comment %></td>
      <% if comment.user == current_user %>
        <td class="comment__table-btn">
          <%= link_to 'コメント編集', edit_word_comment_path(comment.word, comment),class: "up_btn" %>
          <%= link_to 'コメント削除', word_comment_path(comment.word, comment), method: :delete,data: {confirm:'削除してもよろしいですか？'},class: "d_btn" %>
        </td>
      <% end %>
    </tr>
  <% end %>
  </table>
</div>

<div class="form">  
  <%= form_for [@word, @comment] do |f| %>
    <div class="form-group row" id="star">
      <%= f.label :rate,'評価 ', class: "rate_font" %>
      <%= f.hidden_field :rate, id: :review_star %>
    </div>

    <script>
      $('#star').raty({ 
        size     : 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        scoreName: 'comment[rate]',
        half: true,
      });
    </script>  

    <%= f.text_area :comment, rows:'5', class: "input",placeholder: "コメントをここに" %><br>
    <%= f.submit "送信する", class: "btn" %>
  <% end %>
 </div>